node_modules
.next
.git
.vercel
certificates
*.tsbuildinfo
quest/package/dist
quest/package/android
quest/package/*.apk
quest/package/*.keystore
**/.DS_Store
npm-debug.log*
README.md
DESIGN.md
PRODUCT.md
